<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {% if description %}
    <meta name="description" content="{{description}}" />
    {% endif %} {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body class="bg-gray-900 text-white min-h-screen flex flex-col">
    {% include "./partials/navbar.html" %}
    <main class="flex-1 pb-16">{{ content | safe }}</main>
    {% include "./partials/footer.html" %}
  </body>
</html>
