---
layout: default
title: "{{ title }}"
coverImage: "{{ coverImage }}"
author: "{{ author }}"
date: "{{ date }}"
---

<div class="max-w-4xl mx-auto px-4 md:px-0 py-8 text-white">
  <!-- Post Header -->
  <header class="mb-8">
    <h1
      class="font-bold text-3xl sm:text-4xl md:text-5xl lg:text-6xl mb-4 bg-gradient-to-r from-teal to-orange-400 bg-clip-text text-transparent mt-32"
    >
      {{ title }}
    </h1>

    {% if coverImage %}
    <div class="mb-6 overflow-hidden rounded-md">
      <img
        src="{{ coverImage }}"
        alt="{{ title }}"
        class="w-full h-auto object-cover"
      />
    </div>
    {% endif %}

    <div
      class="flex justify-between text-sm md:text-base font-medium text-gray-400 border-b border-gray-700 pb-4 mb-6"
    >
      <span class="text-teal">{{ author }}</span>
      <time>{{ date | readableDate }}</time>
    </div>
  </header>

  <!-- Post Content -->
  <article
    class="prose prose-invert lg:prose-xl mx-auto max-w-full text-gray-300"
  >
    {{ content | safe }}
  </article>
</div>
